{% extends 'base.html' %} 
{% block titulo %}EncuentraLibre - Búsquedas{% endblock titulo %}
{% block body %}
<section class="hero is-fullheight">
    <div class="container">
      <a href="crear_busqueda" class="button is-primary">Crear nueva busqueda</a>
    <table class="table is-striped">
        <thead>
          <tr>
            <th>Búsquedas</th>
            <th>Precio Mínimo</th>
            <th>Precio Máximo</th>
          </tr>
        </thead>
        
        <tbody>
            {% for busqueda in object_list %}
            <tr>
              <td> {{ busqueda.busqueda }}</td>
              <td> {{ busqueda.precio_min }}</td>
              <td> {{ busqueda.precio_max }}</td>
              <td> <a class="button is-primary" href="{% url 'editar_busqueda' busqueda.id %}">Editar</a></td>
              <td> <a class="button is-danger" href="{% url 'eliminar_busqueda' busqueda.id %}">Eliminar</a></td>
            </tr> 
            {% endfor %}


        </tbody>
        
    </table>
    
</div>
</section>
{% endblock body %}