{% extends 'inicio.html' %} 
{% block titulo %}EncuentraLibre - Contacto{% endblock titulo %}
{% block section %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable ">
                <div class="column is-two-thirds has-text-left">
                    <h1 class="title is-1">Contáctanos</h1>
                    <p class="is-size-4">Recuerde que esto es una beta de EncuentraLibre. Apreciamos su duda y/o feedback.</p>
                    <!----<div class="social-media">
                        <a href="https://facebook.com" target="_blank" class="button is-light is-large"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href="https://instagram.com" target="_blank" class="button is-light is-large"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://twitter.com" target="_blank" class="button is-light is-large"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>-->
                </div>

                <form method='post'>
                    {% csrf_token %}
                    <div class="field">
                        <label class="label has-text-left">Nombre</label>
                        <div class="control">
                            {{form.contact_name}}
                        </div>
                      </div>
                      
                
                      
                      <div class="field">
                        <label class="label has-text-left">Email</label>
                        <div class="control">
                            {{form.contact_email}}
                          </span>
                </div>
                </div>
                
                      
                      <div class="field">
                        <label class="label has-text-left">Mensaje</label>
                        <div class="control">
                            {{form.content}}
                        </div>
                      </div>
                   
                      <div class="field is-grouped">
                        <div class="control">
                          <button class="button is-link is-fullwidth has-text-weight-medium is-medium">Enviar Mensaje</button>
                        </div>
                      </div>
                </form>

                
               
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock section %}