{% extends 'base.html' %} 
{% block titulo %}EncuentraLibre - Crear búsqueda{% endblock titulo %}
{% block body %}
 <div class="container">
     <div class="column is-three-fifths is-offset-one-fifth">
    <form method="POST">
        {% csrf_token %}
    <div class="field">
        <label class="label">Búsqueda</label>
        <div class="control">
        {% with url_name=request.resolver_match.url_name %}
        <input class="input" type="text" name="busqueda" value="{% if url_name == 'editar_busqueda' %}{{ busqueda.busqueda }}{% endif %}">
        
        </div>
    </div>
    <div class="field">
        <label class="label">Precio Mínimo</label>
        <div class="control">
        <input class="input" type="number" name="precio_min" value="{% if url_name == 'editar_busqueda' %}{{ busqueda.precio_min }}{% endif %}">
        </div>
    </div>

    <div class="field">    
        <label class="label">Precio Máximo</label>
        <div class="control">
        <input class="input" type="number" name="precio_max" value="{% if url_name == 'editar_busqueda' %}{{ busqueda.precio_max }}{% endif %}">
        </div>
        {% endwith %}
    </div>
        <button type="submit" class="button is-link">Crear</button>
    </form>
</div>
</div>
{% endblock body %}