<!DOCTYPE html>
<html lang="es">
<head><meta charset="euc-jp">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://i.ibb.co/ZxhyH7F/imageedit-1-3513262062.png" />
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'gestionBBDD/css/style.css' %}">
    <title>EncuentraLibre - Ingresar</title>
</head>
<body>
    

<section class="hero is-primary is-fullheight">
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'inicio' %}">
        Volver
      </a>
    </div>
  </div>
  </nav>




    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form method="POST" class="box">
                {% csrf_token %}
              <div class="field">
                <label class="label">Usuario</label>
                <div class="control">
                  {{ form.username }}
                </div>
              </div>
              <div class="field">
                <label class="label">Contraseña</label>
                <div class="control">
                  {{ form.password }}
                </div>
              </div>
              <!---------
              <div class="field">
                <label for="" class="checkbox">
                  <input type="checkbox">
                 Remember me
                </label>
              </div>--->
              <a href="{% url 'usuarios:registrar_usuario' %}">
                Registrarse
              </a>
              <div class="field">
                <button type="submit" class="button is-success my-3">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>  
      </div>
    </div>
  </section>

</body>
</html>